port: 8081
mysql:
  username: ""
  password: ""
  address: "127.0.0.1"
  port: 3306
  database: ""
jwt:
  key: ""
rsa:
  private_key: |-
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----
  public_key: |-
    -----BEGIN PUBLIC KEY-----
    ...
    -----END PUBLIC KEY-----